a{
  color:blue;
}
a:hover{
  color: skyblue;
}
#maintext{
  color: #636363; 
  background-color:#efefef; 
  font-family: Helveticaneue, sans-serif; 
  margin-left: 40px;  
  padding: 5px;
  width:1000px;
}
.nav-link{
  color: white;
  font-family: Helveticaneue;
  font-size: 20px;
  display: inline-block;
}
body{
  background-color: #efefef;
}
li{
  margin-top: 5px;
}

#navbar{
  height: 120px;
  background-color: #4a5360;
  margin-left: -20px;
  width:120%;
  margin-top: -20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.logo {
  margin-top: -20.5px;
  display: inline-block;
  height: 65px;
  margin-bottom: 10px;
  padding-top: 0px;
  background-color: #4a5360;
}
a.nav-link{
  font-size: 20px;
  margin-top: 20px;
  margin-left: -50px;
  margin-right: 150px;
  text-decoration: none;
  transition-duration: 0.7s;
}
a:hover {
  color: #cacdd1;
}
a.first:hover {
  color: #d38e0e;
}
a.first {
  margin-left: 5px !important;
  padding-left: 0px !important;
}

