body{
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VHNsr79/soft-light-gray-background_41txvnyy__F0000.png");
  margin: 0px;
  background-size: 100%;
  font-family: Helveticaneue !important;
}

.logo {
  margin-top: -20.5px;
  display: inline-block;
  height: 65px;
  margin-bottom: 5px;
  padding-top: 30px;
  background-color: #4a5360;
}

.font{
  color: #784bc6 !important;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: #306bc9;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #4a5360;
}

.second {
  background-color: #4a5360;
  position: fixed;
  top: 0;
  padding-top: 5px;
  width: 100%;
  z-index:1;
  margin-bottom: -5px;
}

.first {
  font-size: 30px;
  letter-spacing: 3px;
  color: orange;
  text-align: left;
}

a {
  color: #e8ebef;
  margin-left: 80px;
  text-decoration: none !important;
}
a:hover {
  color: #cacdd1;
  text-decoration: none;
}
a.first:hover {
  color: #d38e0e;
  text-decoration: none;
}
a.first {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.titles{
  font-size: 30px;
}

table{
  text-align: left;
  font-size: 20px;
  color: #784bc6 !important;
}

td{
  border: solid 5px #784bc6;
}

li {
  display: inline;
  font-size: 20px;
}
ul {
  width: 100%;
}

.center{
  text-align: center !important;
  font-size: 30px !important;
  color: #784bc6 !important;
}