.logo {
  margin-top: -20.5px;
  display: inline-block;
  height: 65px;
  margin-bottom: 5px;
  padding-top: 30px;
  background-color: #4a5360;
}

.second {
  background-color: #4a5360;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar {
    background-color: #4a5360 !important;
    color:white !important;
}
.navbar-brand {
  width:25%;
}
.nav-item {
  padding-right: 50px;
}

.first {
  font-size: 30px;
  letter-spacing: 3px;
  color: orange;
}
body {
  background-color: #b0bac1 !important;
  width: 99.5%;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  font-family: Helveticaneue;
}
a {
  color: #e8ebef;
  margin-left: 6%;
  margin-right: 6%;
  text-decoration: none;
}
a:hover {
  color: #cacdd1;
}
a.first:hover {
  color: #d38e0e;
}
a.first {
  margin-left: 5px !important;
  padding-left: 0px !important;
}
.third {
  font-size: 50px;
  color: black;
  margin-top: 0px;
  margin-left: 140px;
  margin-bottom: 10px;
}
.fourth {
  font-size: 20px;
  color: black;
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 150px;
}
img {
  margin-left: 20%;
}
li {
  display: inline;
  font-size: 20px;
}
