.second {
  padding: 5px 5px 5px 5px
  background-color: #4a5360;
  position: fixed;
  top: 0;
}
h2 {
  color: #306bc9;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #4a5360;
}
.first {
  font-size: 30px;
  letter-spacing: 3px;
  color: orange;
  text-align: left;
}
body {
  background-color: #e8ebef;
  background-image: url(back.jpg);
  width: 99.5%;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 1px 1px black;
}
a {
  color: #e8ebef;
  margin-left: 80px;
  text-decoration: none;
}
a:hover {
  color: #cacdd1;
}
a.first:hover {
  color: #d38e0e;
}
a.first {
  margin-left: 5px !important;
  padding-left: 0px !important;
}
h3 {
  font-size: 50px;
}
.third {
  font-size: 50px;
  color: #e8ebef;
  margin-top: 0px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.fourth {
  font-size: 26px;
  color: #e8ebef;
  margin-top: 0px;
  margin-left: 40px;
}
img {
  margin-left: 20%;
}
.fifth {
  padding-right: 300px;
  margin-right: 0px;
}