a{
	color:blue;
}
a:hover{
	color: skyblue;
}
#maintext{
	color:#000aaa; 
	background-color:#efefef; 
	font-family: 'Josefin Sans', sans-serif; 
	margin-left: 40px;  
	padding: 5px;
	width:1000px;
}
body{
	background: #efefef;
}
li{
	margin-top: 5px;
}
.list1{
	font-style: italic;
	color: #efefef;
}
.list2{
	font-family: impact;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.navbar {
  color: #306bc9;
  text-align: center;
  margin-top: -10px;

  padding-top: 0px;
  background-color: #4a5360;
}

.second {
  padding: 5px 5px 5px 5px
  background-color: #4a5360;
}
.first {
  font-size: 30px;
  letter-spacing: 3px;
  color: orange;
  text-align: left;
}
a {
  color: #e8ebef;
  margin-left: 80px;
  text-decoration: none;
}
a:hover {
  color: #cacdd1;
}
a.first:hover {
  color: #d38e0e;
}
a.first {
  margin-left: 5px !important;
  padding-left: 0px !important;
}

